<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab One
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-card class="welcome-card" style="max-width: 500px; width: 320px;">
                <ion-img  *ngIf="!searching" src="/assets/shapes.svg" style="height: 200px"></ion-img>
                <ion-img  *ngIf="searching"  src="/assets/wheele.gif" style="max-width: 100%; height: 200px"></ion-img>
                <ion-card-header>
                    <ion-card-subtitle>Co na to Pawel</ion-card-subtitle>
                    <ion-card-title>Welcome to Pawel Simulator</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <h1>{{searching | json}}</h1>
                    <ion-list>
                        <ion-button expand="full" color="primary" (click)="getPawelResponse()">Get Pawel response</ion-button>
                        <ion-item *ngIf="!searching">
                            <ion-label color="primary" text-center>
                                <h1>{{pawelSay}}</h1>
                            </ion-label>
                        </ion-item>
                        <ion-item *ngIf="searching">

                            <ion-label>Searching</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>



</ion-content>
